/*recomendación colocar las propiedades por orden alfabético*/

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    color: #303030;
}

/*solo se coloca inline porque no se aplicara altura ni ancho*/
li{
    display: inline;
    list-style: none;
}

/*para que herede el color de su padre*/
li a{
    text-decoration: none;
    color: inherit;
}

/*para que se quede en su lugar y su espacio*/
header{
    position: relative;
}

/* transformando el contenido de nav, guiandote 
del plano cartesiano*/
nav{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%)
}

section{
    text-align: center;
}

div{
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    width: 33%;
}

span{
    text-align: center;
    font-size: 60px;
}

span:hover, box-header ul li{
    color: #f9af1a;
}

/*Clases reutilizables*/

/*indicando mayuscula*/
.text-uppercase{
    text-transform: uppercase;
}

/*modificando el display de las img*/
.box-header{
    display: inline-block;
}

.box-header ul li{
    margin: 0px 15px
}

/*Clases específicas*/
.logo-header{
    width: 200px;
}

/*selector de */
body section:last-child{
    margin-top: 30px;
}

/*selector de atributo*/
img[alt="laboratoria"]{
    width: 130px;
}

button{
    color: white;
    background: #f9af1a;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    font-weight: 600px;
}
